.popupCheatsheetImg {
    vertical-align: middle;
    margin-bottom: 1px;
}

.popupRootDiv {
    width: 200px;
    height: auto;
}

.tooltip {
    background-color: #292b2d;
    color: #e8e9eb;
    font-size: 12px;
    padding: 0.6em;
    position: absolute;
    z-index: 1;
    transform: translate(00px, -50px);
    border-radius: .3rem;
    font: "IBM Plex Sans";
    transition: opacity 0.3s ease-in-out;
    display: 'inline-block';
    width: 100px;
    height: auto;
}