.tablePreviewHover {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.headerPreview {
    display: inline-flex;
    align-items: center;
    padding: 0.5em;
    cursor: auto;
}

.tableContainer {
    overflow: auto;
    flex-grow: 1;
}

.tablePreviewSpan {
    font-weight: 500;
    margin-right: 10px;
    width: max-content;
}

.previewTable {
    cursor: auto;
    white-space: nowrap;
    font-family: IBM Plex Mono;
    font-size: 1.2rem;
}

td,
th {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

th {
    background-color: #ffeceb;
    font-weight: 500;
}

tr {
    border-bottom: 1px solid #ffeceb;
}

.tdPreview {
    max-width: 1200px;
    overflow: hidden;
}

.bottomDiv {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 20px;
}

.rowsCntDiv {
    padding: 4px;
    background-color: #ffeceb;
    width: fit-content;
    font-size: 1.2rem !important;
    font-family: IBM Plex Mono !important;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.messageDiv {
    text-align: center;
}