.searchBarDiv {
    padding: 5px;
}

.headerPreview {
    padding: 0.5em;
}

.inputSearch {
    border: 1px solid lightgray;
    margin: 3px;
}

.searchSigButton {
    border: 1px solid;
    border-radius: 0.2em;
    padding: 1px;
}

.signatureTableDiv {
    cursor: auto;
    position: absolute;
    overflow: auto;
    width: 100%;
    top: 100px;
    bottom: 40px;
    right: 0px;
}

.signBottomPanel {
    position: absolute;
    bottom: 5px;
    padding-left: 10px;
    width: 100%;
}

.msgSignatureDiv {
    text-align: center;
}

.pagingLink {
    margin: 5px;
}