.tableh3 {
    display: inline-flex;
    align-items: center;
    grid-gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 10px;
}

.schemaUL {
    display: flex;
    flex-direction: column;
    border-left: 1px solid;
    margin-left: 2.6rem;
    margin-right: 0.6rem;
    padding-left: .5rem;
    font-size: 13px;
}

.schemaLI {
    display: flex;
    align-items: center;
}

.colBtn {
    width: 100%;
    display: flex;
    align-items: center;
    padding: .3rem 1rem;
}

.colBtn:hover {
    background: var(--gray-300);
}

.leftSpan {
    margin-left: auto;
    min-width: 2rem;
}

.typeSpan {
    padding: .2rem .4rem;
    border-radius: 2px;
    background: var(--gray-300);
    color: var(--gray-700);
    font-weight: 400;
}